# Ignore node_modules
node_modules/
package-lock.json

# Ignore hardhat cache and build artifacts
cache/
artifacts/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore compiled contract data
*.abi
*.bin

# Ignore coverage results
coverage/

# Ignore test outputs
test-results.xml
*.test.ts
